html {
    background-color: black;
    color: white;
    font-family: monospace;
}
h1 {
    text-align: center;
    font-family: papaya, serif;
}
.trHeader {
    text-align: center;
    font-family: papaya, serif;
    font-size: 10px;
}
@font-face {
    font-family: "papaya";
    src: url(/content/papaya/papaya.ttf);
}